@model GFAS.Models.AppLogin
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


   
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<style>
    body {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: url(thunderstorm-3625405_1280.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }
    .wrapper {
        position: relative;
        width: 350px;
        height: 300px;
        background-color: #fff;
        border: 2px solid rgba(255, 255, 255, .5);
        /* backdrop-filter: blur(20px); */
        border-radius: 20px;
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        margin: auto;
        padding: 40px;
        overflow: hidden;
    }

    .remember-forgot {
        font-size: .9em;
        color: #000;
        font-weight: 500;
        margin: -15px 0 15px;
        display: flex;
        justify-content: end;
    }

    .input-box2 {
        position: relative;
        width: 100%;
        height: 50px;
        border-bottom: 2px solid #000;
        margin-top: 30px;
        margin-bottom: 9px;
    }

    .input-box2 label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        color: #000;
        font-weight: 500;
        pointer-events: none;
        transition: .5s;
    }

    .input-box2 input:focus ~ label,
    .input-box2 input:valid ~ label {
        top: -5px;
    }

    .input-box2 input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        color: #000;
        font-weight: 600;
        padding: 0 35px 0 5px;
    }

    .input-box2 .icon {
        position: absolute;
        right: 8px;
        font-size: 1.2rem;
        color: #000;
        line-height: 57px;
    }

    .btn {
        width: 100%;
        height: 45px;
        background: #000;
        border: none;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1em;
        color: #fff;
        font-weight: 500;
    }

    body {
        background-image: url('@Url.Content("~/Images/img1.png")');
    }

    
</style>

<form asp-action="ForgetPassword" asp-controller="User" method="post">

    <div class="d-flex justify-content-center ">
        @if (ViewBag.FailedMsg != null)
        {
            <div class="alert alert-danger failedMsg text-center">
                @ViewBag.FailedMsg
            </div>
        }
    </div>

    <div class="wrapper login">
        <div class="d-flex justify-content-center">
            <i class="bx bx-lock" style="font-size:45px;color:black"></i>
        </div>
       
        <div class="input-box2">
            <span class="icon"><i class='bx bx-user'></i></span>
            <input asp-for="UserId" type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="6" autocomplete="off" required>
            <label>Personal No.</label>
        </div>
        <span id="Email" style="color:red;font-size:12px;" class="">@ViewBag.Msg</span>
        <div class="remember-forgot text-center mt-2">
            <a href="~/User/Login">Back to Login!</a>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-dark col-sm-4">SEND</button>
        </div>


    </div>
</form>





<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>